# crontab -e
# This runs the connectssh.sh script every minute
# ">/dev/null 2>&1" makes sure outputs are not automatically being sent to user's email 
# Check whether running or not with "sudo tail -F /var/log/syslog"

*/30 * * * * /home/pi/automation/remoteconnection.sh >/dev/null 2>&1
*/15 * * * * /home/pi/automation/pingserver.sh >/dev/null 2>&1
