
h1 {
	
	font-size: 40;
	font-weight: bold;
	color: red;

	
}


@media (max-width: 770px) {

#logo	{width: 60px}

}



thead {

background-color: #eff0f2;


}

tbody {

font-weight: normal;

}

#ihmiset {

background-color: red;

}

#tuli {

background-color: #38e200;

}

.space { margin-top: 150px; }

#tekijä {
	
color: grey;
text-align: center;
	
}
