
[Unit]
Description=Configure Bluetooth Modems connected by UART
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins
Before=bluetooth.service
Wants=dev-serial1.device
#After=dev-serial1.device

[Service]
Type=forking
#ExecStart=/usr/bin/btuart
ExecStart = /usr/lib/hciattach /dev/ttyS0 bcm43xx 460800 noflow -
[Install]
WantedBy=multi-user.target
