/*
======================
CSS styles for Virtuaaliluonto - Nuotiovahti

Virtuaaliluonto 3.11.2017
======================
*/


/* Colors for PIR sensor data based on row count */

.AreaStatusNo {
	
	background-color: #64d326;
	
}
.AreaStatusYes {
	
	background-color: #ff2600;
	
}

/* Colors for flame sensor data based on row count */

.FlameStatusNo {
	
	background-color: #64d326;
	
}
.FlameStatusYes {
	
	background-color: #ff2600;
	
}



/* Header Navbar's title */

#HeaderNav {
	
	color: #ff8800;
	font-weight: bold;
	
}

/* Div for the status tables */

#maincontent {
	
	background-color: #f9f9f9;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
}

/* Div for the fire picture */

#picture {
	
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}

/* Makes the fire picture smaller on devices smaller than 768px in width. */

@media (max-width: 768px) {

#logo	{width: 120px}

}

/* Table column headings */

thead {

	background-color: #eff0f2;

}



/* Spacing */

.space { 

	margin-top: 70px; 
	
}

/* End credits */

#credits {
	
	color: grey;
	text-align: center;

	
}
