# crontab -e
# This runs the connectssh.sh script every minute
# ">/dev/null 2>&1" makes sure outputs are not automatically being sent to user's email 
# Check whether running or not with "sudo tail -F /var/log/syslog"

*/1 * * * * /home/mint/connectssh.sh >/dev/null 2>&1
