# crontab -e
# This runs the connect_ssh.sh script every minute and outputs to tunnel.log file.
# ">/dev/null 2>&1" makes sure outputs are not automatically being sent to user's email 
# Check if running or not with "sudo tail -F /var/log/syslog"

*/1 * * * * /home/mint/connectssh.sh >/dev/null 2>&1
